.titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 80px;
    margin-top: 50px;
    color:  rgba(65, 78, 18, 0.774);
    text-shadow: 2px 2px 4px #02020175;
}

.celdas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid saddlebrown;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(102, 93, 10, 0.568);
    border: none;
    box-shadow: 10px 5px rgba(132, 153, 38, 0.363);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
    
}
.celdas:hover {
    background-color: rgba(104, 93, 30, 0.829);
    transform: scale(1.1, 1.1);
}
#celdaContenedores{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 250px;
    margin: auto;
    gap: 14px;
}

body{
    background-image: url(../Imagen/background-6650677_960_720.jpg);
    background-size: cover;
}

#boton{
    margin-top: 50px;
    margin-left: 44%;
    background: none;
    background-color: #e98f28a1;
    border: none;
    color:rgb(65, 78, 18);
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px
}

.ganes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(65, 78, 18);
    text-shadow: 2px 2px 4px #02020196;
}